.listName {
    text-align: center;
    font-size: 20px;
    padding: 10px;
    height: calc(100% - 120px);
}

.listNameInner {
    width: 100%;
    height: 100%;
    border: 1px solid #0000002b;
    overflow-x: hidden;
    overflow-y: scroll;
}