
    body {
      background: #eeeeee;
      text-align: center;
    }

    .todo-container {
      background: rgb(41, 33, 33);
      width: 40vw;
      margin: 10em auto;
      border-radius: 15px;
      padding: 20px 10px;
      color: white;
      border: 3px solid rgb(36, 110, 194);
    }

    .task {
      border: 1px solid white;
      border-radius: 5px;
      padding: 0.5em;
      margin: 0.5em;
    }

    .task button{
      background: rgb(12, 124, 251);
      border-radius: 5px;
      margin: 0px 5px;
      padding: 3px 5px;
      border: none;
      cursor: pointer;
      color: white;
      float: right;
    }

    .header {
      margin: 0.5em;
      font-size: 2em;
      text-align: center;
    }

    .create-task input[type=text] {
      margin: 2.5em 2em;
      width: 80%;
      outline: none;
      border: none;
      padding: 0.7em;
    }

    .button {
      padding: 10px;
      border-radius: 100px;
      border: none;
      text-transform: uppercase;
      font-weight: bold;
      background: none;
      cursor: pointer;
      color: #666666;
      outline: none;
    }

    .button:hover {
      color: #00b8ff;
    }

    .listItems {
      text-align: left;
      padding: 10px 0px;
      border-bottom: 1px solid #0000002b;
    }

    .listItems:nth-last-of-type(1){
      border-bottom: none;
    }

    .App {
      width: 100%;
      max-width: 1000px;
      margin: 0 auto;
      background:rgb(255, 255, 255);
      height: 100%;
      box-shadow: 0 0 4px 2px #00000020;
    }

    .listItems span {
      display: inline-block;
      width: 60px;
      padding-right: 15px;
      text-align: right;
    }